name: CI

on: [push, pull_request]

jobs:
  whitespace-errors:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: check
      run: git diff-index --check --cached 4b825dc642cb6eb9a060e54bf8d69288fbee4904

  gcc12-x86_64:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-12
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86_64:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86_64:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86_64:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang14-x86_64:
    runs-on: ubuntu-22.04
    env:
      CC: clang-14
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang13-x86_64:
    runs-on: ubuntu-22.04
    env:
      CC: clang-13
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86_64:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86_64:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x32:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x32:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x32:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  musl-x86_64:
    runs-on: ubuntu-latest
    env:
      CC: musl-gcc
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86_64-debug:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86_64-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86_64-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86_64-debug:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86_64-debug:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x32-debug:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x32-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x32-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86-debug:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86-debug:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86-debug:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86-debug:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  musl-x86_64-debug:
    runs-on: ubuntu-latest
    env:
      CC: musl-gcc
      CPPFLAGS: -DUTEMPTER_DEBUG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86_64-log:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86_64-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86_64-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86_64-log:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86_64-log:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x32-log:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x32-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x32-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x32
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc11-x86-log:
    runs-on: ubuntu-22.04
    env:
      CC: gcc-11
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc10-x86-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  gcc9-x86-log:
    runs-on: ubuntu-latest
    env:
      CC: gcc-9
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang12-x86-log:
    runs-on: ubuntu-22.04
    env:
      CC: clang-12
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  clang11-x86-log:
    runs-on: ubuntu-latest
    env:
      CC: clang-11
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh

  musl-x86_64-log:
    runs-on: ubuntu-latest
    env:
      CC: musl-gcc
      CPPFLAGS: -DUTEMPTER_LOG
      TARGET: x86_64
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: install dependencies
      run: ci/install-dependencies.sh
    - name: build check
      run: ci/run-build-and-tests.sh
